body{
  font-family: "Open Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding-top: 30px;
}
.nav-title{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.text-primary{
  color: #FD6E0A;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
}
nav a{
  text-decoration: none;
}
.btn-primary{
  background-color: #FD6E0A;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px 10px;
  font-weight: 600;
}

.header{
  background-color: #FFF8F3;
}
.banner{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-image: url('/images/header_bg.png'),url('/images/developer.png');
  background-repeat: no-repeat;
  background-position: right bottom , left bottom;
}
.banner-content{
  width: 50%;
  padding-left: 200px;
}
.banner-image{
  padding-right: 60px;

}
.banner-content h2{
  font-size: 45px;
  font-weight: 300;
}
.banner-content h1{
  font-size: 60px;
  font-weight: 700;
}
.banner-content p{
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
  
}
.btn-secondary{
  border: 2px solid #FD6E0A;
  border-radius: 5px;
  padding: 15px 10px;
  color: #FD6E0A;
  background-color: #FFF8F3;
  font-weight: 700;
}

.about-me{
  padding: 130px;
  background-color: #FFF8F3;
  width: 75%;
  margin: 100px auto;
  border-radius: 5px;
  border:1px solid #FD6E0A;
}
.section-title{
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description{
  color: #757575;
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
  line-height: 24px;
}
.abot-info{
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.what-i-do{
  padding: 130px;
  background-color: #FFF8F3;
  width: 75%;
  margin: 100px auto;
  border-radius: 5px;
  border:1px solid #FD6E0A;
}
.resume{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.resume-box{
  width: 25%;
  margin-right: 10px;
  background-color: white;
  padding: 20px 15px;
  border-radius: 5px;
  height: 250px;
  overflow-y: scroll;
  
}
.resume-title{
  margin: 10px 0;
}
.resume-description{
  line-height: 30px;
}
.summary{
  width: 75%;
  margin: 100px auto;
}
.education{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  line-height: 30px;
}
.title{
  margin: 10px 0;
}
.title-des{
  margin-bottom: 10px;
}